<h1 class="printer-header">Printer Statuses</h1>
<div class="card cmn-t-underline">
	<div class="card-block">
		<h4 class="card-title mt-2 ml-3 mb-1.5" style="text-align:left;">LAC Printer <button class="btn btn-outline-danger mr-3" data-toggle="collapse" href="#lacPrinter" style="float: right;">Report</button></h4>
		<h6 class="card-subtitle ml-3 mb-2 text-success" style="font-weight:100;">Working</h6>
		<p class="card-text ml-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>
<div class="collapse w-75 mt-3 mx-auto" id="lacPrinter">
	<form>
		<div class="form-group">
			<select class="form-control">
				<option>1</option>
      			<option>2</option>
      			<option>3</option>
      			<option>4</option>
      			<option>5</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control">
				<option>1</option>
      			<option>2</option>
      			<option>3</option>
      			<option>4</option>
      			<option>5</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<br>
<div class="card">
	<div class="card-block">
		<h4 class="card-title mt-2 ml-3 mb-1.5" style="text-align:left;">Platt Printer </h4>
		<h6 class="card-subtitle ml-3 mb-2 text-danger" style="font-weight:100;"> Not Working</h6>
		<p class="card-text ml-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>
<br>
<div class="card">
	<div class="card-block">
		<h4 class="card-title mt-2 ml-3 mb-1.5" style="text-align:left;">Sprague Printer </h4>
		<h6 class="card-subtitle ml-3 mb-2 text-success" style="font-weight:100;">Working</h6>
		<p class="card-text ml-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>

