<h1 class="printer-header">Printer Statuses</h1>
<div class="w-100 mb-3 text-center">
	<div class="mx-auto">
		<button class="btn btn-outline-danger" data-toggle="collapse" href="#lacPrinter">Report</button>
	</div>
	<div class="collapse w-75 mt-3 mx-auto" id="lacPrinter">
		<form>
			<div class="form-group">
				<label>Which Printer</label>
				<select class="form-control">
					<option>LAC</option>
					<option>Sprague</option>
					<option>Platt</option>
				</select>
			</div>
			<div class="form-group">
				<label>Is the printer working?</label>
				<select class="form-control">
					<option>yes</option>
					<option>no</option>
				</select>
			</div>
			<div class="form-group">
				<label>How is it broken?</label>
				<select class="form-control">
					<option>No paper</option>
	      			<option>Paper jam</option>
	      			<option>Bleep this blop, i'm printin somewhere else</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<div class="card">
	<div class="card-block">
		<h4 class="card-title mt-2 ml-3 mb-1.5" style="text-align:left;">LAC Printer</h4>
		<h6 class="card-subtitle ml-3 mb-2 text-success" style="font-weight:100;">Working</h6>
		<p class="card-text ml-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>
<br>
<div class="card">
	<div class="card-block">
		<h4 class="card-title mt-2 ml-3 mb-1.5" style="text-align:left;">Platt Printer </h4>
		<h6 class="card-subtitle ml-3 mb-2 text-danger" style="font-weight:100;"> Not Working</h6>
		<p class="card-text ml-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>
<br>
<div class="card">
	<div class="card-block">
		<h4 class="card-title mt-2 ml-3 mb-1.5" style="text-align:left;">Sprague Printer </h4>
		<h6 class="card-subtitle ml-3 mb-2 text-success" style="font-weight:100;">Working</h6>
		<p class="card-text ml-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
</div>


