<h1 class="printer-header">Printer Statuses</h1>
<% @statuses.each do |k,v| %>
<div>
<!-- http://www.tablesgenerator.com/html_tables# style template gotten from-->
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
<%=k%>
<tr>
<th class="tg-baqh">Issues</th>
<th class="tg-yw4l">Status</th>
<th class="tg-yw4l">Time stamps</th>
</tr>
  <% v.each do |h| %>
  <tr>
  <td class="tg-yw4l"><%=h.issue%></td>
  <td class="tg-yw4l"><%=h.status%></td>
  <td class="tg-yw4l"><%=h.created_at%></td>
  </tr>
  <%end%>
</table>
</div>
<% end %>

<!-- id: => t.id.to_s+"_hidden"
:id => t.id.to_s+"_selector",
 -->
